set timeout=10
set default=0

menuentry "VG OS (1920x1080 - 1080p Padrao)" {
    multiboot /boot/meuos-1080.bin
}

menuentry "VG OS (1440x1080 - 4:3 HD)" {
    multiboot /boot/meuos-1440.bin
}

menuentry "VG OS (1024x768 - 4:3 Tradicional)" {
    multiboot /boot/meuos-1024.bin
}
